<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset-password</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <form id="myForm" action="" method="post">
      <div class="row mt-5">
        <div class="col-4 offset-4 card p-3">
          <div class="text-center">
            <h1><%= email%></h1>
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="confirm-password"
              id="confirm-password"
              class="form-control"
              placeholder="Confirm Password"
            />
          </div>
          <div id="error-container"></div>
          <div class="text-center">
            <button
            type="button"
            class="btn btn-primary"
            onclick="handleSubmit()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>

    <script>
      // Password validation function
      function isPasswordValid(password) {
        // Password length eight characters, at least one letter, one number, and one special character
        return /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/.test(
          password
        );
      }

      // Form submission function
      function handleSubmit() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm-password").value;

        var errors = {};

        if (password.trim() === "") {
          errors.password = "Password is required";
        } else if (!isPasswordValid(password)) {
          errors.password = "Password should be at least 8 characters long";
        } else if (password != confirmPassword) {
          errors.password = "Password and Confirm password should be same";
        }

        // Display errors
        var errorContainer = document.getElementById("error-container");
        errorContainer.innerHTML = ""; // Clear previous errors

        if (Object.keys(errors).length > 0) {
          for (var key in errors) {
            var errorMessage = document.createElement("div");
            errorMessage.className = "alert alert-danger";
            errorMessage.textContent = errors[key];
            errorContainer.appendChild(errorMessage);
          }
        } else {
          // Proceed with form submission
          document.getElementById("myForm").submit();
        }
      }
      // Clear error messages on change
      document
        .getElementById("password")
        .addEventListener("input", function () {
          var errorContainer = document.getElementById("error-container");
          errorContainer.innerHTML = "";
        });

      document
        .getElementById("confirm-password")
        .addEventListener("input", function () {
          var errorContainer = document.getElementById("error-container");
          errorContainer.innerHTML = "";
        });
    </script>
     <script>
      var status = '<%- JSON.stringify(status) %>';

      if (JSON.parse(status) == "verified") {
        if (confirm("Do u want to login?")) {
          window.location.href = "http://localhost:3000/";
        }
      }
    </script>

    <!-- Bootstrap JS (Optional, if you need Bootstrap's JavaScript features) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
