.sidebar{
    width: 256px;
    height: 100vh;
    background: #3D5A80;
    color: #ffffff;
    position: fixed;
}

.search{
border: none;
border-radius: 5px;
}
.line{
    background: black;
    border: 1px solid black;
    margin-right: 20px;
}

.search:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
    
  .notification .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 2px 4px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: small;
  }